.grid-col-150{float:left;width:150px}.grid-col-160{float:left;width:160px}.grid-col-190{float:left;width:190px}
.grid-col-191{float:left;width:191px}
.grid-col-164{float:left;width:164px}
.grid-col-165{float:left;width:165px}
.grid-col-199{float:left;width:199px}
.grid-col-265{float:left;width:265px}
.grid-col-235{float:left;width:235px}
.grid-row-90{height:90px}
.grid-row-130{height:130px}
.grid-row-166{height:166px}
.grid-row-164{height:164px}
.grid-row-250{height:250px}
.grid-row-422{height:422px}
.grid-row-350{height:350px}
.grid-row-330{height:330px}
.grid-row-280{height:280px}
.floor-content{width:960px;*zoom:1;margin-top:10px;}
.floor-content:before, .floor-content:after{display:table;content:"";line-height:0}
.floor-content:after{clear:both}
.floor-show{position:relative;max-height:90px;background:#fff;float:left;width:960px;}
.floor-show .floor-show-left{width:190px;float:left;}
.floor-show .floor-title{height:90px;color:#fff;overflow:hidden;text-align:center;background:url(./floor.png) no-repeat #f5f5f5}
.floor-show .floor-title a{color:#fff;text-decoration:none;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-perspective:1000}
.floor-show .floor-title a span{-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-perspective:1000}
.floor-show .floor-title li{display:inline-block;*display:inline;*zoom:1;width:30px;margin:0 5px}
.floor-show .floor-title li:hover .floor-icon{-webkit-transform:scaleX(1.15) scaleY(1.15);-moz-transform:scaleX(1.15) scaleY(1.15);-ms-transform:scaleX(1.15) scaleY(1.15);-o-transform:scaleX(1.15) scaleY(1.15);transform:scaleX(1.15) scaleY(1.15)}
.floor-show .floor-show-right{position:relative;left:0;top:10;background:#fafaf8;height:90px;width:200px;float:left;}
.floor-show .floor-brand-slide{position:relative;height:90px;overflow:hidden;-webkit-transform:translate3d(0,0,0);width:500px;float:left;}
.floor-show .floor-show-sort{width:50px;font-size:16px;padding:5px 0;float:right;position:relative;left:0;top:10;background:#fafaf8;height:90px;}
.floor-show .floor-show-sort ul{list-style-type:none;padding-left: 0px;}
.floor-show .floor-show-sort li{height:30px;}
.floor-show .floor-show-sort a{color:#999999;}
.floor-show .floor-show-sort .new .sortactive{color:green;font-weight:bold;}
.floor-show .floor-show-sort .hot .sortactive{color:red;font-weight:bold;}
.floor-show .floor-show-sort .low .sortactive{color:blue;font-weight:bold;}

.floor-show .floor-brand-slide .brand-slide-content{position:relative;max-height:500px;overflow:hidden;margin:0 auto;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);width:500px;float:left;}
.floor-show .floor-brand-slide .brand-slide-content .brand-middle-pannel{float: left; overflow: hidden; width: 500px;height:90px; display: block;}

.floor-show .floor-brand-slide .brand-slide-pannel{height:90px;-webkit-backface-visibility:hidden;float: left; overflow: hidden; width: 500px; display: block;}
.floor-show .floor-brand-slide .brand-slide-pannel a{display:block;padding:0 5px 0;width:100px;height:45px;text-align:center;float:left;}
.floor-show .floor-brand-slide .brand-slide-pannel img{width:90px;height:45px;-webkit-transition:-webkit-transform .2s linear;-moz-transition:-moz-transform .2s linear;-o-transition:-o-transform .2s linear;transition:transform .2s linear}
.floor-show .floor-brand-slide .brand-slide-pannel img:hover{-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);-o-transform:translateX(-5px);transform:translateX(-5px)}
.floor-show .floor-label-list{padding:0px 0;font: 12px/1.5 tahoma,arial,"\5b8b\4f53";height: 90px;overflow: hidden;}
.floor-show .floor-label-list li{padding-left:20px;height:21px;line-height:28px;overflow:hidden;float:left;}
.floor-show .floor-label-list a{-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-perspective:1000;color:#333;margin-right:0px;font-weight:700;display:inline-block;*display:inline;*zoom:1;width:55px;overflow:hidden}
.floor-show .floor-services .floor-services-link{position:absolute;width:100%;left:0;bottom:13px;z-index:1}
.floor-show .floor-services .floor-services-link a{position:relative;display:block;height:28px;z-index:1;background:#fff;opacity:0;filter:alpha(opacity=0)}
.floor-show .floor-show-middle .floor-label-list{padding:5px 0 0;height: 90px;overflow: hidden;}
.floor-show .floor-show-middle .floor-label-list li{height:32px;line-height:32px}
.floor-content .floor-banner-container{float:left;*zoom:1;width:965px;}
.floor-content .floor-banner-container .good-list{margin:5px 6px 10px auto;}
.floor-content .floor-banner-container .good-list .good-info{position:relative;top:10px;color:#000;font: 13px/1.5 tahoma,arial,"\5b8b\4f53";}
.floor-content .floor-banner-container .good-list .good-info .good-title{text-align:left;vertical-align:text-bottom;}
.floor-content .floor-banner-container .good-list .good-info-price{position:relative;bottom:25px;font: 13px/1.5 tahoma,arial,"\5b8b\4f53";}
.floor-content .floor-banner-container .good-list .good-info-price .price{color:red;line-height:16px;font-weight: bold;font-size:16px;float:left;vertical-align:center;}
.floor-content .floor-banner-container .good-list .good-info-price .oldprice{line-height:16px;text-decoration:line-through;font-size:12px;float:left;vertical-align:center;margin-left:5px;}
.floor-content .floor-banner-container .good-list .good-info-price .discount{float:right;line-height:16px;font-size:16px;vertical-align:center;margin-right:5px;}

.floor-content .floor-banner-container .floor-banner{display:block;overflow:hidden;background:#fff;text-align:center;text-decoration:none;}
.floor-content .floor-banner-container .grid-col-265 img{-webkit-transition:-webkit-transform .2s linear;-moz-transition:-moz-transform .2s linear;-o-transition:-o-transform .2s linear;transition:transform .2s linear}
/*.floor-banner-container .grid-col-265 div:hover{transform:scale(1.5);-webkit-transform-origin:center center;-moz-transform-origin:center center;-ms-transform-origin:center center;-o-transform-origin:center center; -webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);-o-transform:scale(1.5);}*/
.floor-content .floor-banner-container .grid-col-235 img{-webkit-transition:-webkit-transform .2s linear;-moz-transition:-moz-transform .2s linear;-o-transition:-o-transform .2s linear;transition:transform .2s linear}
/*
.floor-banner-container .grid-col-235 .grid-good:hover{transform:scale(1.5);-webkit-transform-origin:center center;-moz-transform-origin:center center;-ms-transform-origin:center center;-o-transform-origin:center center; -webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);-o-transform:scale(1.5);}*/
.floor-nvzhuang .floor-title{background-position:0 0}
.floor-nanzhuang .floor-title{background-position:0 -110px}
.floor-xinqi .floor-title{background-position:0 -220px}